[2022-08-04 11:50] vladbailescu opened #2268 "[Image] AdaptiveImageServlet should serve SVGs as `Content-Disposition: attachment`"

[2022-08-04 12:39] #2268 closed

[2022-08-04 14:03] fahol-coop opened #2269 "Page properties "pageTitle" not working"
## Bug Report

**Current Behavior**
Page V3:
"pageTitle" in the pageproperties is never used in html markup in <title> field of the page .

**Expected behavior/code**
pageTitle should be used in <title> field, if if nothing is in pageTitle the fallback should be the jcr:title

Desctiption of the page: ./pageTitle - defines an alternative page title. Used for overriding the ./jcr:title in an on-pag

[2022-08-05 08:10] vladbailescu commented on #2269
The title is initialized in the Sling model of the page: https://github.com/adobe/aem-core-wcm-components/blob/main/bundles/core/src/main/java/com/adobe/cq/wcm/core/components/internal/models/v1/PageImpl.java#L125-L129

@gabrielwalt tried to clarify how the titles are used in https://github.com/adobe/aem-core-wcm-components/issues/160

[2022-08-05 11:43] Rohan179758 commented on #421
Can you give the code in typescript ?

[2022-08-05 15:24] bpauli commented on #2260
Hi @jfoxx, I tried to reproduce the issue with the latest SDK but was not able to reproduce it.

In my case the color swatch is always using an rgb value which is added inline and working as expected. Can you please share your setup regarding AEM version and patch level? Thanks!

[2022-08-05 15:38] bpauli commented on #2228
I totally agree with @ky940819. This is also how it is done for the component library theme

https://github.com/adobe/aem-core-wcm-components/blob/main/examples/ui.apps/src/content/jcr_root/apps/core-components-examples/clientlibs/clientlib-themes/core-components-clean/styles/components/breadcrumb/dark.skin.less#L22

@RasenderS Please use the CSS and pseudo selectors for the delimiter of the bread

[2022-08-05 15:38] #2228 closed

[2022-08-05 15:53] bpauli commented on #2254
We need to fix test case 1. I don't think we should provide the link capability for images without alt text for accessibility reasons.

[2022-08-05 16:29] BrianAva commented on #2254
And lack of alt text hurts page experience: engines track UX accessibility metrics.
https://www.searchenginejournal.com/google-alt-text-only-a-factor-for-image-search/442865/

[2022-08-05 17:16] jfoxx commented on #2260
yes this is working now. I'm not sure what was going on before.  I was using HEX colors and it was stripping the # from the value.

[2022-08-05 17:16] #2260 closed

[2022-08-05 19:15] bpauli commented on #2265
@fahol-coop to links Assets we have the dedicated Download Component which comes with the fileupload widget which comes with more features then the pathfield widget.

Can you please provide feedback in case the download component doesn't meet you expectation? Thanks!

[2022-08-06 10:28] gabrielwalt opened #2270 "SVG images lack width and height attributes"
For SVG images, it seems that the `width` and `height` attributes are missing on the `img` attribute.
The lack of such attributes causes [cumulative layout shift](https://wp-rocket.me/google-core-web-vitals-wordpress/improve-cumulative-layout-shift/), which impact the page performance.

[2022-08-08 15:10] fahol-coop commented on #2265
Yes I saw this component, but is's a separate one.
https://www.aemcomponents.dev/content/core-components-examples/library/core-content/download.html

The Component itself for downloading files and Highlighting it with title and size is a good thing. But if you need to Combine it, for example with a call to action  button in teaser, it will not work until you create a customize call to action butto

[2022-08-10 07:54] #2266 closed

[2022-08-10 08:23] Buuhuu opened #2271 "[Regression] New LinkBuilderImpl fails for links that contain Adobe Campaign expressions"
## Bug Report

**Current Behavior**
Links that contain Adobe Campaign expressions like `/path/to/page.html?recipient=<%= recpient.id %>` worked well in the past (incl. rel. 2.20.8). With #2196 the behaviour changed as the `LinkBuilderImpl` now calls `URLDecoder.decode()` on the given url/path which fails with an exception

[code]

**Expected behavior/code**
Links with Adobe Campaign expressions sh

[2022-08-10 08:24] Buuhuu commented on #2271
@adobe export to Jira project SITES as Bug

[2022-08-10 18:10] brunob15 commented on #2263
Hi @ky940819, that sounds great!

[2022-08-11 12:00] Buuhuu commented on #2271
@adobe export issue to project SITES as Bug

[2022-08-11 12:31] martinbuergi commented on #2270
https://github.com/adobe export issue to Jira project SITES as Bug

[2022-08-11 15:18] Buuhuu commented on #2271
@adobe export to Jira project SITES as Bug

[2022-08-11 15:18] Buuhuu commented on #2271
@adobe export issue to Jira project SITES as Bug

[2022-08-12 06:45] bpauli commented on #2270
@adobe export issue to Jira project SITES as Bug

[2022-08-12 06:46] bpauli commented on #2271
@adobe export issue to Jira project SITES as Bug

[2022-08-12 10:48] arunpatidar02 commented on #2222
working in vanilla
![image](https://user-images.githubusercontent.com/35201853/184339408-24b5ecea-edfe-4210-8e1e-2de756ab1220.png)

[2022-08-12 10:53] #2222 closed

[2022-08-15 08:53] frappierer opened #2275 "WEBp not working in WKND Demo (Teaser Hero)"
## Bug Report

**Current Behavior**
When activating Webp via the Core Components Image Policies it works in Chrome but not fully in IE11.
When taking a look at the network tab you see that the picture in the hero teaser does not have any parameters. (preferwebp is missing)
In the other components/pictures its working.

Network tab:
https://jmp.sh/5gVOjAS

Error on IE11:
https://jmp.sh/ooIldZ2

Tha

[2022-08-16 10:45] saurabh-khare opened #2276 "[Image] Incorrect SVG handling in case of DM enabled"
## Bug Report

**Current Behavior**
When Dynamic Media is disabled the image component uses Adaptive Image Servlet to load SVG files. An example path is `/content/wknd/language-masters/en/_jcr_content/root/container/carousel/item_1571954853062.coreimg.svg/1660579584594/flag-of-europe.svg`
Here we can see the extension of the file is .svg hence browser correctly detects the Content-Type: image/svg+

[2022-08-16 11:48] tinatenatean commented on #727
What happens to internal links in pages if those links point to a page that has later been deleted.  I don't recall the author getting alerted to that fact.

[2022-08-16 14:54] BrianAva commented on #727
It's worth noting that we have hundreds of pages that are public and many even indexed that are empty/invalid pages which are subdirectory folders are externalized and published, with trailing slash rewritten to .html.
Examples: https://www.avalara.com/blog/en/apac/2019.html
https://www.avalara.com/blog/en/north-america/2015/04.html

The expected behavior is that the date folders /2019/ would not

[2022-08-18 07:31] #2271 closed

[2022-08-18 14:49] EssersB commented on #2254
We are experiencing similar problems with the teaser and image components.
Steps to reproduce:

1. Put an image component on a page.
2. Open the author dialog of the image component.
3. Deselect the checkbox "Inherit featured image from page".
4. Drag an image file from the sidebar in the author dialog.
5. (leave checkbox "Inherit from description of asset" selected)
6. Select the checkbox "Don’t

[2022-08-19 12:59] udayvg opened #2279 "List Component child pages"
I can the child pages inclusion option/checkbox in the list component dialog. But I don't see this feature being implemented in the code. So, even if I enable child pages, the child pages are not being rendered on the page.

[2022-08-22 08:27] lamberts69 commented on #2198
we are still having issues, when this will be fixed ?

[2022-08-22 11:34] tarkash-88 commented on #2198
Same here.
We were told that the estimated date for this fix to be released will be August mid, but looks like this did not happen.
Please provide update on this as this issue will soon become a blocker for our project.

[2022-08-23 16:50] ky940819 commented on #1256
This is still an issue - is there any plan to resolve this?

[2022-08-25 08:02] NirmalKumar22 opened #2282 "Container component issue"
**Current Behavior**
Steps to reproduce -

Inside any container component, click on insert component, a dialog will open with an option to add the allowed components, close the pop-up without adding the component.

Now add any component outside the container component.

Observation - Two components gets added to the page (One inside the container component and one outside the container)

**Expecte

[2022-08-26 09:41] sowmyapp commented on #1523
Is this issue resolved? We are still facing this issue in AEM SDK 2022.7.8085.20220725T140323Z-220700  and core components version 2.18

[2022-08-26 10:00] sowmyapp opened #2284 "Dynamic Media - Not working for Smart Crop"
**Current Behavior**
When we drag and drop Dynamic Media component in parsys, and edit the dialog we can see 'Viewer Preset' option selected for Preset type radio button by default. When we select 'Smart Crop' radio button and click Ok to save the changes and open the dialog again, we cant see Smart Crop change is reflected, its still showing the default 'Viewer Preset' as selected. Hence we are n

[2022-08-29 01:58] tavleensingh4 opened #2285 "Cannot edit components in nested Accordion"
## Bug Report

**Current Behavior**
- Drop an accordion component on a page
- Add a few components in the accordion. Add another accordion inside the first accordion
- Re-arrange the items inside the inner accordion from the panel control
- The items inside the inner accordion are not editable except the first one

If an accordion component has another accordion inside it, then the items of the in

[2022-08-29 12:06] #2042 closed

[2022-08-29 12:06] #1986 closed

[2022-08-29 12:06] #2140 closed

[2022-08-29 12:11] bpauli commented on #2284
@adobe export issue to Jira project SITES as Bug

[2022-08-30 21:29] satishkumar-jadhav opened #2290 "Veracode Findings - CWE-79 Cross-site scripting"
description=core.wcm.components.core is vulnerable to cross-site scripting. The vulnerability exists because the `stream` function of `AdaptiveImageServlet.java` does not properly encode the `imageName` attribute, allowing an attacker to inject and execute malicious javascript through the crafted SVG image.;

[2022-09-01 07:34] vladbailescu commented on #2069
Fixed by #2210

[2022-09-01 07:34] #2069 closed

[2022-09-01 08:24] vladbailescu commented on #2290
This potential attack vector should be mitigated by #2268

[2022-09-01 08:24] #2290 closed

[2022-09-01 13:18] bpauli opened #2291 "[ImageV2] Lazy loading image isn't getting visible inside of a Carousel"
In some cases the Image of a V2 component, which is placed inside of a Carousel Component, is not getting visible when the panel is switched from inactive to active.

SITES-7721

[2022-09-01 16:22] #1256 closed

[2022-09-01 16:45] #2276 closed

[2022-09-01 18:44] bpauli commented on #2099
got fixed in https://github.com/adobe/aem-core-wcm-components/pull/2138

[2022-09-01 18:44] #2099 closed

[2022-09-01 20:16] bpauli commented on #2285
Hi @tavleensingh4, can you please provide a screen recording of this issue as I was not able to reproduce it? Thanks!

[2022-09-01 20:33] bpauli commented on #2284
@sowmyapp The Dynamic Media component is not part of the core component project. Please reach out to customer support if you have an issue with this component.

The Auto SmartCrop functionality of the Image V3 component is currently broken and will be fixed in the next release https://github.com/adobe/aem-core-wcm-components/pull/2249

[2022-09-01 20:33] #2284 closed

[2022-09-01 20:40] bpauli commented on #2262
@adobe export issue to Jira project SITES as Bug

[2022-09-02 07:32] bpauli commented on #2282
@NirmalKumar22 Thank you for spotting this issue. I was able to reproduce it and will have closer look. Seems to be an issue with the new insert component dialog which is outside of the core component project. Will keep you updated.

[2022-09-02 07:42] #2262 closed

[2022-09-02 09:58] korben-ne-dallas opened #2295 "[ClientLibraries] Add option to inject the onload attribute into the stylesheet link tag"
## Feature Request

Currently Sling Model that used to collect and include client libraries allows to add the onload attribute only to the javascript script tag. It would be useful to be able to add this attribute to the stylesheet link tag as well.

In my personal case I'm going to use this attribute to implement loading of non-critical css in a non-blocking way, but I think this attribute can al

[2022-09-02 12:47] bpauli commented on #2282
The issue will be fixed with the next Cloud release. SITES-7105

[2022-09-02 12:47] #2282 closed

[2022-09-02 14:26] sowmyapp commented on #2284
Hi bpauli, thanks for the update. But I have tested with image v2 component as well and even its not working fine with Smart Crop Auto option selected.
Can you please let us know if we there is anything we can do for it.

Thanks,
Sowmya.

[2022-09-02 15:54] bpauli commented on #2275
Hi @frappierer, I'm not able to reproduce this issue on my environment. Can you please try to update to the latest version of the WKND site and make sure the asset got synced to dynamicmedia? Please come back if this doesn't help. Thanks!

![image](https://user-images.githubusercontent.com/689884/188192160-2a6b3e94-d1c8-42a4-81c2-b44f3898bec2.png)

[2022-09-02 15:54] #2275 closed

[2022-09-05 17:56] #2291 closed

[2022-09-06 10:04] niraj-100 opened #2297 "Veracode Findings - CWE 918 Server-Side Request Forgery (SSRF)"
Description: The web server receives a URL or similar request from an upstream
component and retrieves the contents of this URL, but it does not
sufficiently ensure that the request is being sent to the expected
destination.

Affected file - com/adobe/cq/wcm/core/components/internal/services/embed/OEmbedClientImpl.java

       HttpResponse response = httpClient.execute(new HttpGet(url));

[2022-09-06 10:06] niraj-100 opened #2298 "Veracode Findings - CWE 918 Server-Side Request Forgery (SSRF)"
Description: The web server receives a URL or similar request from an upstream
component and retrieves the contents of this URL, but it does not
sufficiently ensure that the request is being sent to the expected
destination.

Affected file - com/adobe/cq/wcm/core/components/internal/form/FormHandlerImpl.java

post.setHeader(entry.getKey(), entry.getValue());

[2022-09-06 14:38] bpauli commented on #1979
This feature was recently added to the image V3 component in https://github.com/adobe/aem-core-wcm-components/pull/2249 and will be part of the next release.

[2022-09-06 14:38] #1979 closed

[2022-09-07 11:01] bpauli commented on #1265
fixed in fraudoudou:issue/1265

[2022-09-07 11:01] #1265 closed

[2022-09-07 16:16] satishkumar-jadhav commented on #2268
Thanks @vladbailescu.

I see the difference between line no. 701 and 704 and already URLEncoder.encode was being used at line 701 so just curious to know if any other changes being carried ?

![image](https://user-images.githubusercontent.com/24198568/188928284-23290805-c70d-4dba-875e-5ae92ec4cb6a.png)

[2022-09-08 11:33] #1960 closed

[2022-09-08 11:37] bpauli commented on #2231
Issue got fixed in https://github.com/adobe/aem-core-wcm-components/pull/2294

[2022-09-08 11:37] #2231 closed

[2022-09-08 14:43] jckautzmann opened #2300 "[TOC] Improve exit condition for TableOfContentsFilter"
During the analysis of the issue #2229  it was detected that the ToC Filter can be optimised. The filter should fist check if the ToC request attribute is available in the current request before doing anything else.

(SITES-6841)

[2022-09-09 07:38] ky940819 commented on #2300
@jckautzmann, can you take a look at PR #2301 and see if that solves the issue you identified?

Kyle

[2022-09-11 07:18] Yogiraj24 commented on #1332
Hello , I'm also facing the issue , any workaround to flush the CF cache ?

[2022-09-12 05:43] bpauli commented on #2279
@udayvg Can you please provide a screen recording of the issue? I'm not able to reproduce it. The child pages options work for me as expected in the list component. Thanks!

[2022-09-12 05:45] bpauli commented on #2285
@tavleensingh4 Can you please provide an update or can I close this issue? Thanks!

[2022-09-12 09:21] tavleensingh4 commented on #2285
@bpauli Please refer the attached screen recording
[screen-capture.zip](https://github.com/adobe/aem-core-wcm-components/files/9546627/screen-capture.zip)
Thanks.

[2022-09-12 12:04] bpauli commented on #2155
@NormalPerson2022 I'm not able to reproduce this issue. Can you please provide an example content package or screen recording? Thanks!

[2022-09-12 12:08] bpauli commented on #2255
This issue got fixed in https://github.com/adobe/aem-core-wcm-components/issues/2198

[2022-09-12 12:08] #2255 closed

[2022-09-12 13:27] bpauli commented on #1781
I think the `<java.version>` property is never used in the maven build. Maybe we can just remove it?

[2022-09-12 14:56] #1781 closed

[2022-09-12 16:21] btaymaz opened #2309 "[Content Fragment List] Order By not working"
## Bug Report

**Current Behavior**
When you change "Order By" and "Sort Order" fields items order is not changing.

**Expected behavior/code**
Component should display content fragments based on selected order.

**Environment**
- N/A

**Possible Solution**
ContentFragmentListImpl generates this query:

`/jcr:root/content/dam/myapp/contacts//element(*, dam:Asset)[(jcr:content/data/@cq:model = '/co

[2022-09-12 16:32] btaymaz commented on #2309
I think there is a design issue here. It is always pulling "Master" variant.

[2022-09-12 18:57] satishkumar-jadhav commented on #2268
@vladbailescu  : Could you please help to update ?

[2022-09-13 07:05] #2300 closed

[2022-09-13 07:29] bpauli commented on #2309
@btaymaz This issue was fixed in https://github.com/adobe/aem-core-wcm-components/issues/2262 and the fix is part of the latest release (2.21.0)

[2022-09-13 07:29] #2309 closed

[2022-09-13 10:36] DigiLiviu opened #2310 "PathProcessor getVanityUrl() method only works on URLs with Extensions"
## Feature Request
Remove html extension from DefaultPathProcessor getVanityUrl() method

**Is your feature request related to a problem? Please describe.**
When using the PathProcessor to sanitize a URL and possibly get a vanity url out of it if it has one, the DefaultPathProcessor only looks for vanity urls on paths that have an "html" extension and I'm not sure why that is. When we have a path

[2022-09-15 03:11] ky940819 opened #2311 "[Image] Hide `disableLazyLoading` dialog option if disabled by policy"
## Bug Report

**Current Behavior**
When `disableLazyLoading` is set in the image policy, the field for disabling lazy loading on a specific image is present even though checking/unchecking it has no effect.

Additionally, it appears that the dialog _should_ automatically check or uncheck that option based on the value of the policy:
https://github.com/adobe/aem-core-wcm-components/blob/88837a4f4c

[2022-09-15 07:53] #2311 closed

[2022-09-15 09:18] #1041 closed

[2022-09-15 09:22] bpauli commented on #2285
@tavleensingh4 Thank you for the recording. I was now also able to reproduce the issue. It's a bug in the editor we need to tackle.

[2022-09-15 09:24] bpauli commented on #2285
@adobe export issue to Jira project SITES as Bug

[2022-09-15 09:26] bpauli commented on #2279
@udayvg Can you please provide an update or can I close this issue? Thanks!

[2022-09-15 09:35] bpauli commented on #2310
@DigiLiviu This is a special handling which is required for the vanity urls which can be set in the page properties dialog

<img width="623" alt="image" src="https://user-images.githubusercontent.com/689884/190369742-1b87ad10-3e53-4cfb-bdc5-b211ab24acc7.png">

Can you please provide an example why this is not compatible with your use case? Thanks!

[2022-09-15 12:18] #1297 closed

[2022-09-15 14:41] fahol-coop commented on #2269
Are there any news?

[2022-09-15 14:43] fahol-coop commented on #2265
Are there any news?

[2022-09-15 14:48] fahol-coop commented on #2191
Answer of adobe is, it will not be added for Page V3. Also not a light Variant of it, for the basic OG:Tags. They say it's to complicated to handle it for them. So it will not be implemented for Page V3.

So you have to solve it for yourself. Or maybe call the acs-commons team, if they could create a solution

[2022-09-15 14:49] fahol-coop commented on #2191
Please close this ticket

[2022-09-15 15:53] LucaNerlich commented on #2191
There is no "acs commons" team ;) Its purely a community effort.

[2022-09-15 16:30] DigiLiviu commented on #2310
Hi Pauli, thanks for getting back to me. Inputting the vanity url there is just fine. The problem is that the getVanityUrl() method that I referenced in my comment will only process paths with a ".html" extension. That field that you're showing there will take vanity urls that don't necessarily have an extension. As such, that method (in the DefaultPathProcessor class) doesn't always return them.

[2022-09-16 14:38] ky940819 opened #2314 "[Accordion] Deleting items resets all changes to dialog"
## Bug Report

**Current Behavior**
When an item is deleted from the Accordion dialog (and likely other panel containers), the entire dialog is reset to the state of the JCR.
This means that all other edits that have been made in the dialog are undone.
This also happens if the user cancels the delete when prompted with the "You are going to delete the selected component(s)" warning.
If multiple pa

[2022-09-16 19:54] udayvg commented on #2279
Hi @bpauli,

Thanks for replying. You can close this issue.
I will check this once again in my AEM author.

[2022-09-16 19:54] #2279 closed

[2022-09-19 21:03] shajiahmed opened #2315 "Getting error on using the image on ootb components"
After dragging and dropping the image on image component, I am getting following error in logs.
It works some times, failing 1 in 5 attempts

19.09.2022 16:58:27.313 *ERROR* [[0:0:0:0:0:0:0:1] [1663621107290] GET /content/el-xxx/us/en/_jcr_content/root/container/container/image.coreimg.85.1600.jpeg/1663621106322/52370246583-71613e2d9e-m.jpeg HTTP/1.1] org.apache.sling.engine.impl.SlingMainServlet

[2022-09-20 08:26] DigiLiviu opened #2316 "Removing Page's Navigation Title Creates Blank Entry in Navigation Component"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A page's entry in the nav component can be modified by changing its Navigation Title property. That being said, the navigation title is an optional field and, if not set, the page's entry in the nav will be created using the page's Title property. What we found was that if we set a Navigation Title, and then wan

[2022-09-21 05:38] ky940819 commented on #2316
Hello, are you sure there isn't a whitespace character left in the dialog?
I tried to recreate this, but could not (unless I left a whitespace character).

A potential option for resolving this (Caution, off the top of my head completely untested) is changing `PageListItemImpl#getTitle()` to the following:

[code]

This would not only filter out null titles, but also blank titles (empty string, or

[2022-09-21 11:14] gsureshaem opened #2317 "Cloud Manager sonar analysis is failing due to critical issues related with CQRules:CQBP-84"
**Required Information**
AEM Version: 6.5.13
ACS Commons Version: 5.3.4
Reproducible on Latest? yes
**Expected Behavior**
Cloud Manager code analysis is ok

**Actual Behavior**
Cloud Manager code analysis is failing and breaking the build as a result due to Sonar critical issues

**Steps to Reproduce**
Build a project including acs-commons library dependency (included in the "all" package) and sud

[2022-09-21 11:19] kwin commented on #2317
Should be fixed alread with 2.21.0 (#2212).

[2022-09-21 11:28] gsureshaem commented on #2317
Hi kwin, I tried with all latest versions from 2.21.0 and 2.20.8 and 2.20.6. all of them reported same issue.

[2022-09-21 13:11] nhirrle opened #2318 "Extend List Component to filter child pages with hide in Navigation"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When using the List Component with option "Child Pages" there are use-cases where you as an AEM author don't want to show pages which are marked as hide in navigation.

**Describe the solution you'd like**
An extension of the List component to filter out pages which are hide in navigation.
![image](https://user-

[2022-09-22 04:54] ky940819 commented on #2315
Hello,

A couple of follow up questions:

1. When you go to the URL shown in the error log do you get a repeatable 500 error?
2. When you refresh the page do you also load the 1600px wide version of the image? Check your network tab in the dev tools on page reload to see if the image has `85.1600` in the URL or something else.

Here's my (completely untested theory):
The adaptive image servlet as

[2022-09-22 15:14] gsureshaem commented on #2317
Hi Kwin, any suggestion on when this issue can be fixed and which version?

[2022-09-26 10:54] bpauli commented on #2318
@adobe export issue to Jira project SITES as Story

[2022-09-26 11:06] bpauli commented on #2315
@shajiahmed Can you please provide some more information regarding your environment. Which version of AEM and Core Components are you using? Thanks!

[2022-09-26 12:01] bpauli commented on #2314
HI @ky940819, I agree on the items 1 and 2 of your findings. Regarding 3, we recently added the immediate delete action after the confirmation dialog to get https://github.com/adobe/aem-core-wcm-components/issues/2240 fixed. The solution is more a compromise because you need the new ghost placeholder if you want to reorder the child items in the same step.

[2022-09-26 22:06] shajiahmed commented on #2315
Here is what I am trying.
My DAM assets are in external DAM provider, I have written custom js event drop listener which uploads the asset  as soon as it is dropped on the image component. Asset is being loaded successfully using servlet async call to AEM DAM. I do see the renditions being created successfully. However when the drop is finished, image doesn't render, it throws java.io.IOException:

[2022-09-27 13:53] blair-robertson commented on #2044
@jzeltman - I recommend to not use `.cq-dd-image` I believe this is used by AEM internally on Authoring to determine a Drag-n-Drop location to allow the contributor to drop from the assets side panel directly onto a component. It is also mistakenly output by the Dynamic Media components on the publish.

[2022-09-27 15:17] arunpatidar02 opened #2319 "[Embed] [V2] Documents link are broken"
## Bug Report

**Current Behavior**
The links at [https://github.com/adobe/aem-core-wcm-components/tree/main/content/src/content/jcr_root/apps/core/wcm/components/embed/v2/embed](https://github.com/adobe/aem-core-wcm-components/tree/main/content/src/content/jcr_root/apps/core/wcm/components/embed/v2/embed) for **YouTube** components are leading to "Page Not Found"

**Expected behavior/code**
The l

[2022-09-27 17:03] joerghoh commented on #1488
Another option would be to create a new rendition (via processing profiles) which has the same dimensions (or a bit larger) than the largest renditions you require in your frontend. In that case you never have to use the original renditions as a basis to downscale on the fly.

[2022-09-28 15:34] kpolychr commented on #1473
I can only upvote this; one of the main reasons of clients purchasing DM is to have features like smart cropping in widely-used components like teasers/heros, saving tons of authoring time. Any indication on when this enhancement can become available?

[2022-09-29 18:17] smita-herlekar opened #2320 "AEM 6.5.12 Dynamic media Smart Crop Auto -Incorrect Renditions Delivered Using Core Components 2.18"
## Bug Report

**Current Behavior**
Hi Team,

On AEM 5.5.12 Dynamic media,for image V2 (Core components 2.18),the Smart Crop Auto is not scaling to the smart cropped renditions ,as per defined in the "Smart Crop " Profile.

Checked the logic at : https://github.com/adobe/aem-core-wcm-components/blob/main/content/src/content/jcr[…]/core/wcm/components/image/v2/image/clientlibs/site/js/image.js

Exa

[2022-10-01 18:19] ky940819 commented on #2316
I will create a PR.

[2022-10-01 23:21] ky940819 opened #2322 "[TOC] Tests are platform-dependent"
## Bug Report

**Current Behavior**
The tests for the Table of Contents Filter are platform dependent.
The string value of the HTML response content is compared against the string value of an HTML file loaded from the systems filesystem.

Since the strings are compared without any parsing of the HTML, this results (in some systems) in a difference in line separators which can cause a failure of th

[2022-10-03 18:15] DigiLiviu commented on #2316
Thanks for looking into this @ky940819!

[2022-10-03 20:08] singhh15 opened #2324 "[Experience Fragment] Moving a 'variation as live copy' XF to a new folder results in failure"
## Bug Report

**Current Behavior**
Steps to replicate the issue 👍
1. Install WKND package - aem-guides-wknd.all-2.1.0.zip on AEM Author SDK version - aem-sdk-2022.9.8722.20220912T101352Z-220800
2. Navigate to an already created Experience Fragment Master. eg. /content/experience-fragments/wknd/language-masters/en/contributors/kumar-selveraj/master.html
3. Create a new 'XF variation as  live copy'

[2022-10-04 08:31] #2322 closed

[2022-10-04 08:33] #2316 closed

[2022-10-04 14:28] EssersB opened #2325 "[Page] Search for featured image in page properties"
## Feature Request

**The problem**
When you want to select a featured image in the images tab of the page properties, you are unable to search based on a keyword or something. The only way you can search is by going through the dam folder structure.

Not being able to use the search here makes it very hard to find the right image from the dam, especially in larger file systems.

**Proposed soluti

[2022-10-04 21:33] gsureshaem commented on #2317
Hi Kwin, Current version of pom.xml and in all the other versions, we do see "org.apache.sling.models.impl" is embedded. commit #2212 says it removed, but all the versions have this Embed.

[2022-10-04 23:07] ky940819 commented on #2324
I think this is more of a AEM Sites issue.
I have reported something similar in the past, and it might relate to the allowed templates under the destination folder.

I have the following issue numbers in my history, but can't tell what the actual contents of them are so they may or may not be relevant.
* SITES-1259
* SITES-912

[2022-10-05 18:41] Lexmark-antoine opened #2327 "No ACDL Support for embedded Links within the content of RichText Component"
the issue we have with OOTB Core Component ACDL support is with links embedded within the content of a RichText component.   There doesn't appear to be an OOTB solution for ACDL tracking for these.  We could author in the required data attributes via html markup option within the RichText component, but that will be difficult to maintain.   I am curious if Adobe has a solution or a planned update

[2022-10-05 18:59] kavinmehta-work commented on #2327
+1

[2022-10-07 08:30] vladbailescu commented on #1488
Closing this issue as it's not something we want to fix/improve in the AdaptiveImageServlet since we now have the new web-optimized image delivery system: https://experienceleague.adobe.com/docs/experience-manager-core-components/using/developing/web-optimized-image-delivery.html?lang=en

[2022-10-07 08:30] #1488 closed

[2022-10-07 11:50] sozores opened #2329 "[Container] Layout property via Content Policy is not selected in the component dialog"
## Bug Report

**Current Behavior**
After setting the default layout mode in the content policy/design dialog of the container component, this value is not reflected in the edit dialog of the container component.

**Expected behavior/code**
When a value is selected at policy level, then this value is pre-selected in the dialog of the container component.

**Environment**
- AEMaaCS version and patc

[2022-10-07 15:44] AndreiAlexandruParaschiv opened #2330 "NPE on PageDataImpl"
There are NPE errors
` [35.182.104.198 [1665155874648] GET /favicon.ico HTTP/1.1] com.adobe.cq.wcm.core.components.internal.models.v1.datalayer.ComponentDataImpl Unable to generate dataLayer JSON string
com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointerException) (through reference chain: com.adobe.cq.wcm.core.components.internal.models.v1.datalayer.PageDataImpl["xdm:t

[2022-10-07 21:16] pollenshukla opened #2331 "PDF Viewer | iPad Pro 11 shows "File Preview Error""
## Bug Report

**Current Behavior**
On the iPad 11 Pro, observed that https://documentcloud.adobe.com/dcpreviewdropin/2.21.2_1.1308.0/bootstrap.js:formatted breaks.

Console error:
[code]

**Expected behavior/code**
PDF viewer should load the PDF on iPad 11 Pro as well.

**Environment**
- AEM version 6.5.10
- Core Components version - 2.10.0+

**Possible Solution**
Make the bootstrap library compa

[2022-10-09 06:34] ky940819 commented on #2330
Just a quick look makes me think it comes from here:
https://github.com/adobe/aem-core-wcm-components/blob/cff5878e8e03edb55409d40a3dd85288cc559216/bundles/core/src/main/java/com/adobe/cq/wcm/core/components/internal/models/v1/PageImpl.java#L340

An NPE would result if `getTemplate()` returns null.

Alternate option would be:
[code]

[2022-10-10 18:40] ksgulyani opened #2333 "URL encoding of comma characters in query params"
## Bug Report

**Current Behavior**
the url generated from core components is https://www.oegb.at/adobe/dynamicmedia/deliver/dm-aid--8b5f2392-31ad-4af7-8371-663a8e138f1e/video-standbild002.jpg?crop=0%2C0%2C1079%2C721&quality=85&preferwebp=true
The commas in crop=0,0,1079,721 are encoded

**Expected behavior/code**
URL should have been https://www.oegb.at/adobe/dynamicmedia/deliver/dm-aid--8b5f2392

[2022-10-10 21:01] GrimaceDoesA11y opened #2334 "[Accessibility] Separator component does not have a method to make it decorative"
## Bug Report

**Current Behavior**
Screen reader always has focus on Separator component

**Expected behavior/code**
There should be a mechanism to mark the separator component as decorative so that screen reader technology can ignore it.

**Environment**
- AEM version and patch level (e.g. AEM 6.5)
- Core Components version Separator V1

**Possible Solution**

Suggested solution is to provide an

[2022-10-11 05:09] ky940819 commented on #2334
Can you confirm my understanding of your requirements?

- You want the author dialog of the Separator component to have a checkbox field labeled (appros) "Separator is decorative" similar in line to how Images can be marked as decrotive?
- When selected, you want `<hr role="none" />` to be the output HTML?

The implication here being that `<hr />` might not be "Thematic changes" in the content.

[2022-10-11 06:18] #2330 closed

[2022-10-11 08:18] bpauli commented on #2265
@adobe export issue to Jira project SITES as Bug

[2022-10-11 08:21] bpauli commented on #2265
https://github.com/adobe export issue to Jira project SITES as Story

[2022-10-11 14:15] jckautzmann opened #2335 "[Teaser] Add tests for links with special character"
Add tests to verify following test case:
- the author defines a link that points to a page containing a special character in its path (e.g. `/content/teasers/é`)
- the rendered link is correctly URL-encoded (e.g. `/content/teasers/%C3%A9.html`)

[2022-10-11 14:15] jckautzmann commented on #2335
@adobe export issue to Jira project SITES as Story

[2022-10-11 14:53] GrimaceDoesA11y opened #2336 "[Accessibility] Embed - Accessibility - all iFrames have the same name"
## Bug Report

**Current Behavior**
When using the embed component, YouTube settings, the IFrame has a default aria-label with the value "Youtube Video".  If there are multiple videos on the page, they will all have the same name.

**Expected behavior/code**
Content Authors can provide the aria-label for each iFrame.
Code Example
<iframe data-cmp-data-layer="{"youtube-e5c1436307":{"@type":"core/wc

[2022-10-11 15:00] jckautzmann commented on #2335
(SITES-8611)

[2022-10-12 09:36] joerghoh opened #2338 "ability to disable the AmpModeForwardFilter"
## The problem

The AmpModeForwardFilter can incur significant overhead, because if no ampMode is specified for a requested page, always the ContentPolicyManager is requested for a policy for the requested resource. And that is not a cheap operation because it needs to read a lot of resources to build-up this policy.

This is a problem if no AMP is used at all. This is also a problem if Core Compo

[2022-10-12 12:49] joerghoh commented on #2338
(I had to correct the timing information because of [SLING-11618](https://issues.apache.org/jira/browse/SLING-11618)

[2022-10-12 13:01] #2338 closed

[2022-10-13 06:55] #2335 closed

[2022-10-13 19:19] dylanmccurry-msft commented on #1395
Any update on this?  I see the same behavior and would like to disable layout mode on certain container structures.

[2022-10-14 00:55] juasepul opened #2340 "Page V3 - Featured Image and Thumbnail Fields not Working"
**Current Behavior**
Page v3 featured image and thumbnail fields are not working on page creation, those fields are rendering correctly on page properties update dialog but on page creation dialog the featured image field is not rendering and the thumbnail field's select image button is not working

**Expected behavior/code**
to be able to choose a featured image and and a thumbnail image upon pag

[2022-10-14 00:56] juasepul commented on #2340
I tried to add a custom image field and is not working on page creation however on properties update it works fine

[2022-10-14 14:02] ackoch commented on #1333
@gabrielwalt  ("Teasers are meant to link to pages, not to assets."): We are making assumptions here how a website is structured. As a matter of fact I have often seen that users link downloads from Buttons, Links, Teaser and CTAs. I feel like restricting links to pages is imposing a certain structure and CoreComponents could be more versatile if we do not artificially restrict to pages.

@ky94081

[2022-10-14 14:11] ackoch commented on #2265
@fahol-coop : I don't think, this is a simple change.

According to https://github.com/adobe/aem-core-wcm-components/issues/904 and https://github.com/adobe/aem-core-wcm-components/issues/1333 that was a deliberate decision. Just changing it back won't help .. otherwise we would constantly PR contradicting changes.

The simple change reverting back to the original behaviour works... but this might

[2022-10-17 11:42] Abhishek-F-Secure opened #2341 "Tab Component issue after update to 2.21.0"
## Bug Report

I am facing issue in Tab Component after upgrading to core components 2.21.0, I am not able to navigate to other tabs while authoring the component via panel selector. I can see multiple Items tab in the tab dialogue boxes. I can see there are some coral multi-field errors in the console, which I feel is the issue because of 2 item tabs in dialog.Can you let me know what am I missin

[2022-10-17 20:05] cmariaxavier commented on #260
Hi @MrPoofy
I am facing similar issue .Could you please help me out with this?

[2022-10-17 21:20] jckautzmann opened #2342 "[Teaser] TeaserImpl tries to cast Asset to Page"
With the change that makes the Link Manager public (PR #2196) an incompatibility of the Teaser component to existing content was introduced. This affects Teasers that link to assets.

When configuring the main link with a link to an asset, opening the Teaser dialog throws following errors:
[code]

When configuring the CTA with a link to an asset, rendering the page throws following errors:
[code]

[2022-10-18 08:20] Buuhuu commented on #1047
@adobe export issue to Jira project SITES as Story

[2022-10-18 11:26] jlanssie commented on #2341
Add `data-panelcontainer="tabs"` to the main wrapper div. This is what solved our issue.

[2022-10-18 16:31] fbonheurCap opened #2346 "[Image v2] Dialog propose upload from filesystem while policy does not allow it"
## Bug Report

**Current Behavior**
1. Create a custom component embedding image V2 component
`<div>
    <sly data-sly-resource="${'image' @ resourceType='core/wcm/components/image/v2/image'}"></sly>
</div>
`
2. Edit an editable template. Create a new policy for image V2 component in which upload from file system is disabled.
3. Create a new page from the modified template
4. Add the custom compon

[2022-10-19 02:31] ericvangeem commented on #663
@gabrielwalt @kashlokesh is there an option to enable og tags in the page? I don't see them either, using v3.

[2022-10-19 07:28] bpauli commented on #1334
Closing this issue as mentioned by @gabrielwalt the container can be included by path

[2022-10-19 07:28] #1334 closed

[2022-10-19 07:31] fahol-coop commented on #2265
This looks like a big mistake that happened here.
Some People tried to warn the core Team not to change the Pathfield to Pagefield without checking the different use cases.
https://github.com/adobe/aem-core-wcm-components/issues/904

The Warning was ignored, and now we are in this unsatisfied Situation.

At least there had to be a Dialog V2 for this breaking change.

[2022-10-19 12:02] bpauli commented on #2265
@adobe export issue to Jira project SITES as Bug

[2022-10-19 12:56] #2342 closed

[2022-10-20 11:56] AlexanderEggersDivae opened #2349 "[Accordion] Adding new panels in the edit dialog works, but is not shown in the dialog until it is re-opened"
### Expected Behaviour
When you add a new item to the accordion, such as Text, it should appear in the list of existing items at the bottom.
### Actual Behaviour
Adding a new item will visibly affect the active page under the edit dialog modal, but it will not be shown in the list. Closing and opening the dialog will show the panels accurately.

#### Steps to Reproduce
- Open any page in WKND proj

[2022-10-20 15:26] pollenshukla commented on #2331
Works on version 2.20.6

[2022-10-20 15:26] #2331 closed

[2022-10-20 19:11] randomdude93 commented on #2320
@smita-herlekar were you able to fix this behaviour?

[2022-10-21 08:14] Abhishek-F-Secure commented on #2341
Hi @jlanssie , thanks that worked!! do you how can I get rid of two "items" tab in dialog

[2022-10-21 10:17] jlanssie commented on #2341
Two "items" tab? What exactly are you talking about? Can you share a screenshot?

[2022-10-21 10:41] Abhishek-F-Secure commented on #2341
its there in the third screenshot attached with the issue. highlighted with circle

[2022-10-24 14:56] rajeevyadav2 opened #2351 "Error on Basic Tab on Page Creation - AEMaaCS"
Start AEMaaCS author server
Install WKND package
Try to create a page using available templates. Basic tab shows error.

### Expected Behaviour
There should not be any errors on Basic tab and should be able to create a page using template.

### Actual Behaviour
Basic tab shows error and does not allow to create the page.
![image](https://user-images.githubusercontent.com/17505312/197557012-fa942ba

[2022-10-25 07:38] bpauli commented on #2351
@adobe export issue to Jira project SITES as Bug

[2022-10-25 12:34] joerghoh opened #2352 "Unnecessary dataLayer checks on every component"
I am currently checking all areas which do a repository access during page rendering. I found that on a standard WKND page this call / these calls are responsible for 5-7% of all requests towards the Sling Repository/Oak.

[code]
Such a call uses caconfig to find the result, and does quite a number of repository accesses itself, but that's a different story.

The implementation of this method chec

[2022-10-25 13:21] Deepthi-Prapulla opened #2353 "Showing duplicate error messages in core content fragment component"
## Showing duplicate error messages in core content fragment component

**Current Behavior**
Core Content Fragment Component(core/wcm/components/contentfragment/v1/contentfragment) is showing duplicate error messages.

**Steps to reproduce**

1. Go to the any page and add Core Content Fragment Component(core/wcm/components/contentfragment/v1/contentfragment) in it.
2. Select a content fragment pat

[2022-10-25 16:53] AmyJZhao commented on #2351
@adobe export issue to Jira project SITES as Bug

[2022-10-25 17:02] AmyJZhao commented on #2351
@adobe export issue to Jira project SITES as Bug

[2022-10-25 17:17] sowmyapp opened #2354 "Core Navigation component - data layer not working as expected for second level child items"
Environment:
AEM as a Cloud (SDK version-2022.9.8722.20220912T101352Z)
Core Components version - 2.20.8
JRE version - Java(TM) SE Runtime Environment 18.9 (build 11.0.8+10-LTS)

Current Behavior:
Analytics data layer for core navigation component (/libs/core/wcm/components/navigation/v2/navigation) is not working properly for second level navigation children pages. We are unable to see the parent

[2022-10-26 10:49] Abhishek-F-Secure commented on #2341
Hi @jlanssie  i am getting error which is mentioned here
https://github.com/adobe/aem-core-wcm-components/issues/1869

[2022-10-26 10:50] Abhishek-F-Secure commented on #1869
Hi @ky940819 was this issue resolved somewhere? I am getting this issue now

[2022-10-26 13:11] Abhishek-F-Secure commented on #2341
Hi @jlanssie ,
actually it is not switching the tab, panel is coming ,and it works for the first time, when i reload the page and then tr to switch, it does not work.

<img width="923" alt="Screenshot 2022-10-26 at 16 09 19" src="https://user-images.githubusercontent.com/104613746/198034287-177b820f-82a8-4deb-9f76-a1e92646da04.png">

[2022-10-27 19:01] ky940819 commented on #2354
If this is something that should be included in all list items then the solution would probably just be to add
[code]

to `AbstractListItemImpl#getComponentData`
https://github.com/adobe/aem-core-wcm-components/blob/f13f3de9a3176ca2d4ff565464fa77194b4af101/bundles/core/src/main/java/com/adobe/cq/wcm/core/components/internal/models/v1/AbstractListItemImpl.java#L82-L91

[2022-10-27 22:33] ncordeiro opened #2355 "Embed Core component"
I am on AEM 6.5.12 and hence using the version of core component 2.19.2
The core embed component options that i plan to use is URL embed and embeddable
**Issue1**
**URL embed** - I noticed that the processor does not pick a query url in a query. If the below url is keyed in, on editing the text field, the processor passes a url to check if it can be processed. the processor returns a response.
htt

[2022-10-28 06:15] rsjoshi2912 opened #2356 "Image Selection Thumbnails Too Blurry to Discern Assets Visually"
When browsing Assets regularly via the Assets menu(column view), thumbnails for all visual assets display in decent resolution:

![assets-column-view](https://user-images.githubusercontent.com/27250129/198516363-9731a7a6-ca98-4eb4-978f-3ca6d042da4b.png)

But when selecting an image for a component (e.g. image component), the asset browser displays very low-fidelity thumbnails that make it impossib

[2022-10-28 10:56] NormalPerson2022 commented on #2155
![accordion_](https://user-images.githubusercontent.com/104494241/198571340-c1045d2a-cba2-464a-bea1-a2392ac0271e.gif)
I added a gif with example.

[2022-10-28 13:42] ncordeiro commented on #2355
Please assist @vladbailescu

[2022-11-01 08:35] joerghoh opened #2357 "Review: Build does not work with Java 17"
## Bug Report

**Current Behavior**
When running a build with Java 17, the tests fails with exceptions like this:

[code]

**Expected behavior/code**
well, it should build :-)

**Environment**
- Main branch
- JDK 17

**Possible Solution**

Mockito needs to get updated to at least version 4.4.0 (right now the version is a very old 2.24.5 :-(

[2022-11-03 15:31] ncordeiro commented on #2031
This issue also occurs with embeddables like youtube etc and any custom embeddable written. Kindly suggest

[2022-11-04 03:02] CVEDetect opened #2358 "Dependency org.apache.httpcomponents:httpclient, leading to CVE problem"
Hi, In **bundles/core/**，there is a dependency **org.apache.httpcomponents:httpclient:4.5.4** that calls the risk method.

[CVE-2020-13956](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13956)

The scope of this CVE affected version is **[,4.5.13)**

After further analysis, in this project, the main Api called is **org.apache.http.client.utils.URIUtils: extractHost(java.net.URI)Lorg.apac

[2022-11-06 13:09] joerghoh opened #2361 "AmpModeForwardFilter cannot be instantiated"
## Bug Report

**Current Behavior**
When trying to startup the current main branch in AEM, the instantiation of the AmpModeForwardFilter does not start, because no no-parameter constrcutor is found.

**Expected behavior/code**
It should start

**Environment**
- AEM CS
-
**Possible Solution**
I think that this has been introduced in #2338 with the suggested change to switch to constructor injection

[2022-11-07 02:23] ky940819 commented on #2358
Just a heads up that bumping this version number to 4.5.13 will (likely?) require a change in the system requirements for this project, because this version of httpclient was only included as of 6.5.14.

[See bundle changelog for 6.5.14.](https://experienceleague.adobe.com/docs/experience-manager-65/assets/65140_bundles.txt?lang=en)

[2022-11-07 11:37] #2361 closed

[2022-11-07 22:01] bpauli opened #2363 "[Image] Enable Dynamic Media options in image for featured images"
At the moment the Dynamic Media options inside the image dialog aren't getting displayed in case a featured image is used (either of the current page or linked page).

[2022-11-07 22:02] bpauli commented on #2363
@adobe export issue to Jira project SITES as Bug

[2022-11-08 06:02] ky940819 opened #2365 "Upgrade `org.jsoup:jsoup` -> 1.15.3 due to CVE-2022-36033"
## Feature Request

The current version of `org.jsoup:jsoup` (version 1.14.3) is vulnerable to [CVE-2022-36033](https://nvd.nist.gov/vuln/detail/CVE-2022-36033).

Based on my reading of the CVE, I do not think our current usage actually represents a vulnerability.
However, best to upgrade - if for no other reason than to make the warnings go away.

[2022-11-08 07:10] #2365 closed

[2022-11-08 07:59] ky940819 commented on #2357
Hello,

I put together a branch to allow for JDK 17 compatibility.
Upgrading mockito was only one step in a long dependency cascade (not unexpected in maven!).
Since I was half-forced to update many of the dependencies, i took that opportunity to just update all of the dependencies so that they are:

1. *Non-Test* dependencies were updated to the latest usable in 6.5.13.0 (current minimum supporte

[2022-11-08 08:05] joerghoh commented on #2357
Hi @ky940819

Yes, it would be great if you post a (preliminary) PR for review. Thanks!

[2022-11-08 10:01] Tylopilus commented on #2044
@jzeltman @gabrielwalt until the 'has-image' class is set this can easily be solved by :has selector which is supported in almost all browsers (except firefox which is about to release it)
https://codepen.io/Tylopilus/pen/bGKBjwN

mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/:has
caniuse: https://caniuse.com/css-has

[2022-11-10 09:02] #2363 closed

[2022-11-10 09:32] gabrielwalt commented on #2336
Created Jira issue SITES-9356

[2022-11-10 09:32] gabrielwalt commented on #2334
Created Jira issue SITES-9357

[2022-11-10 10:33] haagflo opened #2370 "Strings for new dialog options in image V3 are not localized"
## Bug Report
https://github.com/adobe/aem-core-wcm-components/tree/main/content/src/content/jcr_root/apps/core/wcm/components/image/v3/image

**Current Behavior**
When updating core component image to V3, the new dialog field labels are not localized. Including the tooltip text.
(See screenshot at bottom, in this example texts should be german like in the top of the dialog)

It seems like transla

[2022-11-10 13:32] lovelyserafima opened #2371 "Core Components alternate language inside the head meta not working"
## Bug Report

**Current Behavior**
<link data-sly-test="${page.alternateLanguageLinks}"
      data-sly-repeat="${page.alternateLanguageLinks.entrySet}"
      rel="alternate" hreflang="${item.key.toLanguageTag}" href="${item.value}">

where page is data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page"

It returns nothing. I've tried to debug it and it seems that resource.adaptTo(SeoTags

[2022-11-10 18:54] rajeevyadav2 commented on #2349
Team any update on this? This is impacting authoring experience.

[2022-11-16 06:31] bpauli commented on #2357
@adobe export issue to Jira project SITES as Bug

[2022-11-16 12:07] #2357 closed

[2022-11-16 12:21] bpauli commented on #2357
@ky940819 Thank you for all the work in this PR!

[2022-11-16 13:54] royteeuwen commented on #2262
@bpauli  this fix does not work for dates. When a content fragment model contains a date, the value is not available to sort on

[2022-11-16 13:54] royteeuwen opened #2376 "Sorting of items in the content fragment list do not work for date fields"
Sorting has been updated again to work for content fragment list v2, but it excludes dates from the sort dropdown

See #2262

[2022-11-22 02:40] rinkle25 commented on #2349
Hi Team, By when this will get fixed? Authoring experience is getting hampered!

[2022-11-22 07:22] AlexanderEggersDivae commented on #2198
Hi, this is still not fixed in AEMaaCS, see https://github.com/adobe/aem-core-wcm-components/issues/2349. Can you please provide us with a date for when this will be fixed?

[2022-11-22 14:51] Blaris commented on #2329
This is also a bug for us and causes a recursionTooDeepException.  Once a layout mode is selected on the page, a node is created under that page.  If the container is not touched by a page author and no layout mode is selected, it will use the node from the structure and causes a recursion error.

Environment:

- On-prem 6.5.11
- Core components 2.17.12
- JDK 1.8.0_151

[2022-11-22 15:13] #2336 closed

[2022-11-22 15:37] bpauli commented on #2376
fixed in https://github.com/adobe/aem-core-wcm-components/commit/fe38ebf9352714b31414b6fb00dff53b8a1898b7

[2022-11-22 15:37] #2376 closed

[2022-11-22 16:37] sujithraSudharshan opened #2380 "Update the target value based on the page properties of each pageItem"
## Feature Request

The core Navigation component works perfectly fine without any customization, except for one scenario where we would like to add target attribute to each pageItem based on respective page properties.
This will be helpful if the page redirects to an external link allowing the users to open in newtab.

[2022-11-23 09:08] bpauli commented on #2371
Hi @lovelyserafima, the `page.alternateLanguageLinks` was introduced in https://github.com/adobe/aem-core-wcm-components/pull/1647 which is part of core components since 2.17.6. The minimum SP version for 2.17.6 is 6.5 SP6. Can you please update you environment and test it again?

I will close this issue. If you still see this error please open it again. Thanks!

[2022-11-23 16:04] royteeuwen opened #2381 "Content fragment list does allow to select items with multiple tags where all are mandatory"
Currently the content fragment list only allows to select content fragments that have one of the selected tags from the dialog fields, this is always an OR statement. We would like to use it that it is contains all tags, not only one of them.

I have found the following comment in the code, so I would expect it to be refactored to use the xpath or another way of querying, because the query builder

[2022-11-25 08:22] bpauli opened #2384 "[Page][Data Layer] Creation date is returned in repo:modifyDate of the page"
Issue Summary:

When using the core component of Adobe Client Data Layer, the creation date is returned to repo:modifyDate of the page.

Steps to reproduce:

1. Confirm that each date on the WKND page below is as follows.

Page -> /content/wknd/us/en/jcr:content
jcr:created -> 2022-11-17T01:23:19.537Z
cq:lastModified -> 2022-11-22T05:25:03.412Z

![image](https://user-images.githubusercontent.com/6

[2022-11-25 08:23] bpauli commented on #2384
SITES-9662

[2022-11-25 08:27] aderler opened #2385 "[Image] getSeoFriendlyName not respecting AssetDelivery seoname pattern"
## Bug Report

**Current Behavior**
Image assets containing non-word characters in the filename trigger errors when asset delivery through dynamic media is enabled for the image component (`enableAssetDelivery=true`).

As described in https://experienceleague.adobe.com/docs/experience-manager-core-components/using/developing/web-optimized-image-delivery.html?lang=en#can-i-use-web-optimized-image-d

[2022-11-25 09:59] Buuhuu opened #2387 "Links with Adobe Campaign scriptles are not externalized"
## Bug Report

**Current Behavior**
When a link uses adobe campaign scriptlets the externaliser fails with an exception:

[code]

**Expected behavior/code**
Externalization should work

**Environment**
- AEM version and patch level (e.g. AEM 6.5 SP16 load1)
- Core Components version (e.g. 2.21.0)
- JRE version (e.g. `Java(TM) SE Runtime Environment (build 1.8.0_152-b16)`)

**Possible Solution**
Ad

[2022-11-25 13:53] #2334 closed

[2022-11-28 16:59] royteeuwen opened #2391 "Content Fragment not translateable"
When using the Content Fragment List component to list the elements of a specific content fragment, the title of the ContentElement api is used to render a specific element, but this title is not translatable and so not usable in other languages.

How can we achieve a translation of the element title? Is there a way to introduce i18n labels or anything?

[2022-11-29 14:29] #2384 closed

[2022-11-30 14:55] tmastalirsch opened #2392 "[Teaser]: Mapping from get title from linked page not work correctly"
## Bug Report

**Current Behavior**
I found a bug in the implementation of the Teaser Model. Via the dialog I want to specify the title of the linked page. There is a difference between what is in the dialog and what is rendered into the component. In the dialog the jcr:title is specified, in the component the pageTitle.

In the getTitle method the getPageTitle method is also used first.

**Expect

[2022-11-30 17:52] bpauli commented on #2314
@adobe export issue to Jira project SITES as Bug

[2022-11-30 22:48] DigiLiviu opened #2394 "Pages not updated with components nested 3 deep in Container Component in Template Structure"
## Bug Report

**Current Behavior**
When components are added to a Template's Structure in a Container Component that's nested in other Container Components at a depth of 3, existing pages created with that template will not receive the change.

**Expected behavior/code**
Regardless of the depth that a component is added at in a Template's Structure, existing pages created with that template shoul